* {
    font-family: "Jost", sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    background: rgb(240, 208, 193);
    background: radial-gradient(circle, rgba(240, 208, 193, 1) 0%, rgba(148, 187, 233, 1) 100%);
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div select,
input {
    border-radius: 8px;
}

input {
    padding-left: 10px;
}

.container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#recipeTitle {
    color: black;
}

#recipeResult, #addRecipeResult {
    margin-top: 10px;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}

#recipesTableContainer {
    border-radius: 10px;
}

#firstIngredient,
#secondIngredient {
    margin: 15px;
}

#newRecipeForm div input {
    padding-right: 50px;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #214272;
    --bs-btn-border-color: #0a244a;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #081e3f;
    --bs-btn-hover-border-color: #1e314f;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #294876;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.swal2-title {
    font-size: 1.4rem !important;
}